<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ordina.firebase.ordinasync" >


    <uses-permission android:name="android.permission.INTERNET" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="be.ordina.firebase.ordinasync.application.OrdinaSync" >

        <activity android:name=".StoreChoiceActivity"  android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".StoreOverview"  android:label="@string/activity_store_overview_title">

        </activity>

        <activity android:name=".DetailView" android:label="@string/detailview"/>

    </application>

</manifest>
